<configuration xmlns:patch ="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <search>
        <processor patch:before = "processor[@type='Sitecore.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.ContentSearch.Client']" type="Foundation.ContentSearchCounters.Processors.ContentSearchCountersPreProcessor, Foundation.ContentSearchCounters" />
        <processor patch:after = "processor[@type='Sitecore.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.ContentSearch.Client']"  type="Foundation.ContentSearchCounters.Processors.ContentSearchCountersPostProcessor, Foundation.ContentSearchCounters"/>
      </search>
    </pipelines>
  </sitecore>
</configuration>